@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/*..................................common_Style....................................... */
.hiden{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid green;
    min-width: 200px;
    box-sizing: border-box;
}
.header{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.paragraph{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    width: 10.875em;
    height: 3.25em;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
/* nav style */
.nav{
    width: 100%;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.nav-header span{
    color: #FF5400;;
}
.nav-item-container{
    border: 2px solid yellow;
}
.nav-item-container>a{
    text-decoration: none;
    margin-right: 3em;
}
.for-mobail{
    display: none;
    margin: 0 2em;
}
/* section start */
.section-1{
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 31.25em;
    margin: 50px 0;
    background-image:
    linear-gradient(to bottom, rgba(19, 19, 24, 0.52), rgba(19, 19, 24, 0.73)),
    url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
}
.section-1-header{
    color: #FFF;
    margin: 100px auto 0 auto;
}
.section-1-description{
    width: 60%;
    color: #FFF;
    margin: 24px auto;
    text-align: center;
}
.button-container{
    width: 70%;
    height: 60px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.btn{
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    border: none;
}
.red-btn{
    background: #FF5400;
    color: #FFF;
    justify-content: center;
}
/* start section-2 */

.section-2{
    border: 2px solid darkred;
    width: 100%;
    height: 36.5em;
    margin: 50px 0;
    display: flex;
}
.section-2-text-container{
    width: 50%;
}
.section-2-text{
    width: 80%;
    margin: 1em auto;
}
.section-2-text>li{
    padding: 1em;
}
.section-2-header{
    color: #131318;
    text-align: start;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.section-2 button{
    margin-left: 3em;
}
.section-2-img{
    width: 50%;
}
.section-2-img>img{
    width: 100%;
}
/* start section 3 */
.section-3{
    width: 100%;
    margin: 6em auto;
    border: 2px solid blue;
}
.section-3-paragraph{
   width: 75%;
   text-align: center;
   margin: 3em auto;

}
.img-container{
    border: 2px solid red;
    margin: 0 auto;
    height: 690px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}
.grid-item{
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.75em;
    font-family: Mulish;
    font-weight: 800;
    margin: 5px;

}
#grid-1{
    grid-column: 1/ span 6;
    grid-row: 1/ span 1;
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat:no-repeat;
}
#grid-2{
    grid-column: 7/ span 6;
    grid-row: 1/ span 1;
    background:url('../Images/Rectangle\ 8.png');
    background-repeat:no-repeat;
}
#grid-3{
    grid-column: 1/ span 4;
    grid-row: 2/ span 1;
    background:url('../Images/Rectangle\ 6.png');
    background-repeat:no-repeat;
}
#grid-4{
    grid-column: 5/ span 5;
    grid-row: 2/ span 1;
    background:url('../Images/Rectangle\ 7.png');
    background-repeat:no-repeat;
}
#grid-5{
    grid-column: 10/ span 3;
    grid-row: 2/ span 1;
    background:url('../Images/Rectangle\ 9.png');
    background-repeat:no-repeat;
}

#grid-6{
    grid-column: 1/ span 5;
    grid-row: 3/ span 1;
    background:url('../Images/Rectangle\ 11.png');
    background-repeat:no-repeat;
}
#grid-7{
    grid-column: 6/ span 7;
    grid-row: 3/ span 1;
    background:url('../Images/Rectangle\ 10.png');
    background-repeat:no-repeat;
}
/* start section 4 */
.section-4{
    width: 100%;
    height: 780px;;
    margin: 6em auto;
    border: 2px solid blue;
}
.section-4>.paragraph{
    text-align: center;
    margin: 30px auto;
}
.section-4-row-1,.section-4-row-2{
    width: 98%;
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
    gap: 10px;
}
.card-1{
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;

}
.card-2{
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}
.card-3{
    width: 550px;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px;

}
.card-1>h3,
.card-2>h3,
.card-3>h3{
    padding: 20px 0;
}
/* start section 5 */
.section-5{
    width: 100%;
    height: 1620px;;
    margin: 6em auto;
    border: 2px solid blue;
}
.section-5>.paragraph{
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.section-5-img{
    width: 99.5%;
    height: 450px;
    background:url('../Images/Group\ 40.png');
    background-repeat:no-repeat;
    margin: 20px 0;
    border:2px solid firebrick;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.section-5-card {
    width: 400px;
    height: 250px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 30px;
    margin: 30px;
}
.section-5-card>.paragraph{
    margin: 30px 0;
}
.section-5-card>.price{
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.crd-1,
.crd-3{
    justify-content: end;
}
.last{
    display: flex;
    justify-content: space-around;
}
/* start section-6 */
.section-6{
    width: 100%;
    height: 430px;
    margin: 6em auto;
    border: 2px solid blue;
    display: flex;
}
.section-6-text-part{
    width: 600px;
    height: 400px;
    margin: 10px;
}
.section-6-text-part>.header{
    width: 60%;
    text-align: left;
    font-size: 30px;
}
.section-6-text-part>.paragraph{
    width: 90%;
    margin: 20px 0;
}
.section-6-text-part>ul>li{
    width: 90%;
    margin: 10px 15px 30px 15px;
}

.section-6-img{
    width: 610px;
    height: 424px;
    background:url('../Images/Group\ 40089.png');
    background-repeat:no-repeat;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 50%;
    color: #FFF;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
/* start section-6 */
.section-7{
    width: 100%;
    height: 430px;
    margin: 6em auto;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.form{
    width: 430px;
    height: 360px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
    margin: 10px auto;
}
.form> h3{
    margin: 20px 30px;
}
.form>.paragraph{
    margin: 20px 30px;
    font-size: 14px;
}
.input-part{
    width: 90%;
    margin:30px 40px 40px 28px;
}
.hr{
    width: 90%;
    color: rgba(19, 19, 24, 0.10);
    margin: 10px 2px;
}
.form>.input-part>input{
    width: 90%;
    height: 52px;
    text-decoration: none;
    padding: 10px;
    margin: 5px ;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.section-7-img{
    width: 600px;
    height: 400px;
    background:url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat:no-repeat;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;

}
.footer{
    width: 100%;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);
    border: 5px solid green;

}
.logo{
    width: 50px;
    height: 50px;
}
.footer-head{
    width: 20%;
    height: 100px;
    border: 2px solid red;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer>.footer-container>.paragraph{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
.social-media{
    width: 100px;
    height: 24px;
    margin: 50px 43%;
}
.footer>.footer-container>hr{
    width: 80%;
    margin: 10px auto;
    background-color: grey;
}
.copy-right{
    width: 20%;
    margin: 20px 43%;
}




@media screen and (max-width:600px) {
    .nav-item-container{
        display: none;
    }
    .for-mobail{
        display: initial;
    }
    .section-1{
        margin: 1em auto;
    }
    .section-1-header,
    .section-1-description,
    .button-container{
        margin: .7em auto;
    }
    .button-container{
        width: 100%;
        height: 18em;
        flex-direction: column;
    }
    .btn{
        width: 80%;
        height: 4em;
        border: none;
        margin-top: 2px;
    }
    .section-2{
        height: auto;
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .section-2-text-container{
        width: 100%;
    }
    .section-2-text>li{
        padding: .2em;
    }
    .section-2 button{
        margin: 2em 0;
    }
    .section-2-img{
        width: 100%;
        height: auto;

    }
    .section-3{
        width: 100%;
        height: auto;
    }
    .section-3-paragraph{
        height: auto;
    }
    .img-container{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .grid-item{
        width: 100%px;
        height: 176px;
        margin: 5px auto;

    }
    #grid-5{
        background:url('../Images/Rectangle\ 5.png');
        background-repeat:no-repeat;
    }
    .section-4{
        width: 100%;
        height: auto;
    }
    .section-4-row-1{
        flex-direction: column;
    }
    .section-4-row-2{
        margin: 4px 2px 0px 2px;
    }
    .card-2,
    .card-1{
        width: 80%;
        height: 176px;
        margin: 4px 2px 0px 2px;
    }
    .card-3{
        width: 80%;
        height: 176px;
    }
    .card-1>h3,
    .card-2>h3,
    .card-3>h3{
        padding: 5px 0;
    }
    .section-5{
        width: 100%;
        height: auto;
    }
    .section-5-card {

        height: auto;

    }
    .section-5-img{
        height: auto ;
    }
    .section-6{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .section-6-img{
        width: 100%;
        height: 300px;
        margin: 5px auto;
    }
    .section-6-text-part{
        width: 100%;
        height: auto;
        margin: 20px 10px;
    }
    .section-7{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .section-7-img{
        width: 100%;
        height: 300px;
        margin: 5px auto
    }
    .form{
        width: 90%;
        height: auto;
    }
    .footer{
        width: 100%;
        height: auto;
    }
    .footer-head{
        width: 50%;
    }
    .social-media{
        margin: 20px 35%;
    }
    .copy-right{
        width: 40%;
        margin: 20px auto;
    }

}



